@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

.quick-sand-font{
  font-family: "Quicksand", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
/* Navbar style */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 156px;
}
.logobar {
    display: flex;
    gap: 10px;
}
.nav-img {
    width: 58px;
height: 58px;
}
.logo {
    font-size: 22px;
font-weight: 700;
}
.nav-links{
    display: flex;
}
.nav-item {
    list-style: none;
    margin-right: 30px;
}
.nav-link {
    text-decoration: none;
    font-weight: 500;
    font-size: 18px;
}
.home {
    color: rgb(254, 163, 1);;
}
.about {
    color: rgb(1, 172, 253);    
}
.facilites {
    color: rgb(5, 212, 223);
}
.admission {
    color: rgb(93, 88, 239);
}
.contact {
    border-radius: 12px;
    background: rgb(254, 163, 1);
    justify-content: center;
align-items: center;
width: 157px;
height: 40px;
gap: 10;
padding: 10px;
color: rgb(255, 255, 255);
font-size: 18px;
font-weight: 600;
text-align: center;
border: none;
}
.contact:hover {
    transform: scale(1.2);
    transition: 0.5s;
}
#hamburger-icon {
    margin: 0px 0px 0px 16px;
    display: none;
    cursor: pointer;
}
#hamburger-icon div {
    width: 30px;
    height: 3px;
    background-color: black;
    margin: 6px 0;
    transition: 0.5s;
}
.mobile-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    display: none;
    width: 100%;
    height: calc(100vh - 50px);
    top: 50px;
    left: 0;
}
/* Banner style */
.banner {
    display: flex;
    margin: 0px 156px;
    gap: 50px;
    justify-content: space-between;
    align-items: center;
    position: relative;
}
.banner-content {
    max-width: 50%;
    display: flex;
    flex-direction: column;
justify-content: flex-start;
align-items: flex-start;
gap: 24px;
}
.banner-title {
    font-size: 3.5rem;
font-weight: 700;
text-align: left;
}
.banner-descrip {
    font-size: 18px;
font-weight: 400;
text-align: left;
}
.btn-primary {
    padding: 10px;
margin: 24px 0px;
font-size: 18px;
font-weight: 700;
background-color: black;
color: white;
margin-top: 10px;
border-radius: 12px;
border: none;
width: 157px;
height: 50px;
}
.btn-primary:hover {
    transform: scale(1.2);
    transition: 0.5s;
}
.banner-img {
    position: relative;
    width: 468.61px;
height: 565px;
}
.banner-img img {
    width: 100%;
    height: auto;
}
/* Responsive Design */
@media screen and (max-width: 576px) {
    .nav-img {
position: absolute;
width: 46px;
height: 46px;
left: 16px;
right: 296px;
top: 12px;
bottom: -12px;
    }
    .navbar {
        margin: 0px -115px;
    }
    .nav-links {
        display: none;
    }
    .logo {
        display: none;
    }
    .contact {
        display: none;
    }
    #hamburger-icon {
        display: block;
        margin: -8px -122px -11px -20px;
    }
    .media-content {
        display: flex;
        justify-items: end;
        border-bottom: 2px solid rgb(254, 163, 1);
        padding: 15px 54px;
        border-top: 0px;
    }
    .banner {
        margin: auto;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .banner-img {
        position: absolute;
width: 392px;
height: 760px;
left: 16px;
top: 40px;
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: center;
gap: 20;
padding: 20px 0px 20px 0px;

    }
    .banner-img {
        width: 100%;
        margin: 0 0 0 35px;
        height: auto;
    }
    .banner-content {
        /* display: block;
        margin-top: 570px;
        margin-left: 20px; */
        max-width: 100%;
        width: 357px;
        height: 85px;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
gap: 15px;
margin-top: 750px;
margin-left: 80px;
    }
    .banner-title {
font-size: 32px;
font-weight: 700;
line-height: 40px;
text-align: center;
justify-content: center;
    }
}
