@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

.quick-sand-font{
  font-family: "Quicksand", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
/* Navbar style */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 156px;
}
.logobar {
    display: flex;
    gap: 10px;
}
.nav-img {
    width: 58px;
height: 58px;
}
.logo {
    font-size: 22px;
font-weight: 700;
}
.nav-links{
    display: flex;
}
.nav-item {
    list-style: none;
    margin-right: 30px;
}
.nav-link {
    text-decoration: none;
    font-weight: 500;
    font-size: 18px;
}
.home {
    color: rgb(254, 163, 1);;
}
.about {
    color: rgb(1, 172, 253);    
}
.facilites {
    color: rgb(5, 212, 223);
}
.admission {
    color: rgb(93, 88, 239);
}
.contact {
    border-radius: 12px;
    background: rgb(254, 163, 1);
    justify-content: center;
align-items: center;
width: 157px;
height: 40px;
gap: 10;
padding: 10px;
color: rgb(255, 255, 255);
font-size: 18px;
font-weight: 600;
text-align: center;
border: none;
}
/* Banner style */
.banner {
    display: flex;
    margin: 0px 156px;
    gap: 50px;
    justify-content: space-between;
    align-items: center;
    position: relative;
}
.banner-content {
    max-width: 50%;
    display: flex;
    flex-direction: column;
justify-content: flex-start;
align-items: flex-start;
gap: 24px;
}
.banner-title {
    font-size: 56px;
font-weight: 700;
text-align: left;
}
.banner-descrip {
    font-size: 18px;
font-weight: 400;
text-align: left;
}
.btn-primary {
    padding: 10px;
margin: 24px 0px;
font-size: 18px;
font-weight: 700;
background-color: black;
color: white;
margin-top: 10px;
border-radius: 12px;
border: none;
width: 157px;
height: 40px;
}
.banner-img {
    position: relative;
    width: 468.61px;
height: 565px;
}
.banner-img img {
    width: 100%;
    height: auto;
    border-radius: 20px;
}